<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <style>
        .circle-img{
            border:none;
            width:100px;
            height:100px;
            border-radius:50%;
            box-shadow:5px 5px 5px lightgray;
        }
    </style>
</head>
<body>
    <h1>首页</h1>
    <p>
        <img class="circle-img" title="点击图像更改" onclick="selectImg()"
          id="photoImg" src="/static/{% if user.photo %}{{user.photo}}
        {% else %}images/default_img.png{% endif%}">
    </p>
    <input type="file" id="selectFile" style="display:none"
        onchange="upload(this.files)[0])">
    <script>
        function $(domID){
            return document.getElementById(domID)
        }
        function selectImg(){

            if(confirm('确定更改图像')){
                //alert('准备图像')
                $('selectFile').click()
            }
        }
        function upload(file){
            //alert(file.name);
            //console.log(file);
            if(file.type.startsWith('image/')){
                //alert('image');
                if(file.size>1024*1024*2){
                    //alert('准备上传');
                    url="{{ url_for('userBlue.upload_photo') }}"
                    let request=new XMLHttpRequest():
                    request.open('post',url,true);
                    request.onload=function(ev){
                        if(request.status==200 && request.readyStatus==4){
                            respText=request.responseText;
                            respJson=JSON.parse(respText);
                            console.log(respText,respJson);
                            $('photoImg').src='/static/'+respJson.path;
                        }
                    };
                    let formdata=new FormData();
                    //photo后台接收名称
                    formdata.append('photo',file);
                    //发送请求
                    request.send(formdata);
                }else{
                    alert('图片大小2M以内');
                }
            }else{
                alert('只能上传图片');
            }
        }
    </script>
</body>
</html>